/*Подключение шрифтов*/
@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/roboto.woff2) format('woff2'),
    url(../fonts/roboto.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/robotomedium.woff2) format('woff2'),
    url(../fonts/robotomedium.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/robotobold.woff2) format('woff2'),
    url(../fonts/robotobold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/*Глобальные стили*/

.wrapper {
  position: relative;
}

.catalog-body {
  background-color: #95ab9f;
}

.container {
  margin: 0 auto;

  width: 95.5%;
  min-width: 860px;
  max-width: 1146px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  background-color: #95ab9f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:not(.button):not(.item-wrapper):hover,
a:not(.button):not(.item-wrapper):focus,
.breadcrumbs a.crumb:hover,
.breadcrumbs a.crumb:focus {
  color: #e84d37;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus{
  color: #fff;
}

.item-wrapper img{
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.button {
  vertical-align: top;

  display: inline-block;
  text-align: center;


  font-weight: bold;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(231,74,53)), to(rgb(242,104,67)));
  background-image: -webkit-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -o-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
}

.button:hover,
.button:focus {
  outline: none;
  background-image: none;
  background-color: #ef7862;
}

.button:active {
  background-image: -webkit-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
          box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

input.button {
  border: none;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

.item-wrapper .button {
  /*box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);*/
  height: 44px;
  line-height: 44px;
  width: 200px;
  font-size: 18px;
  cursor: pointer;
}

/*Стили для хедера*/
.main-nav-wrapper {
  height: 75px;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
/*Стили для менюшки слева*/
      /*Стилизация ссылок в менюшке*/
.topper {
  position: relative;
  padding-bottom: 5px;
}

.topper > a {
  padding: 0 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  text-decoration: underline;
  font-weight: bold;
}

li.topper:hover > a[href],
li.topper:focus > a[href],
li.topper > a[href]:hover,
li.topper > a[href]:focus {
  text-decoration: none;
  outline: none;
  background-color: #fff;
  color: #000;
}

.topper:hover > a:active,
.topper:focus > a:active {
  background-color: rgba(248, 247, 244, 0.988);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
          box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

a.main-nav-current {
  background-color: #d07058;
  text-decoration: none;
}

li.topper > a[href="#"]:hover,
li.topper > a[href="#"]:focus {
  color: #000;
}

.topper-catalog:hover .drop-down-list,
.topper-catalog:focus .drop-down-list,
.catalog-link:hover .drop-down-list,
.catalog-link:focus .drop-down-list {
  display: block;
}
    /*Обнуление отступов и отключение маркировки для обоих списков */
.drop-down-list,
.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation-list {
  width: 378px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
    /*Стилизация выпадашки*/
.drop-down-list {
  position: absolute;
  display: none;
  bottom: -170px;
  left: -7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 143px;

  text-align: left;
  font-size: 14px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.drop-down-list li {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  font-size: 14px;
  height: 33px;
  line-height: 33px;
}

.drop-down-list li:first-child {
  height: 38px;
}

ul.drop-down-list a {
  padding-left: 13px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 128px;

  color: #000;
}

ul.drop-down-list a[href]:hover {
  color: #000;
}

.drop-down-header {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

.drop-down-list li:hover,
.drop-down-list li:focus {
  background-color: #fbded7;
}

.drop-down-list li:active {
  background-color: #f6b5a5
}

.current-pos {
  background-color: #d07058;
}

.current-pos a[href] {
  color: #fff;
}

/*Стилизация пользовательской навигации*/
.side-navigation-list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 267px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 6px;
  list-style: none;
}

.side-navigation-list a {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-navigation-list li {
  position: relative;
  padding-bottom: 5px;
}

.login > a,
.cart-empty > a,
.cart > a {

  -webkit-box-pack: start;

      -ms-flex-pack: start;

          justify-content: flex-start;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  height: 32px;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  padding-left: 16px;
}

.login:hover > a,
.cart-empty:hover > a,
.cart:hover > a,
.login:focus > a,
.cart-empty:focus > a,
.cart:focus > a {
  background-color: #fff;
  color: #000;
}

.login > a[href]:hover,
.cart-empty > a[href]:hover,
.cart > a[href]:hover,
.login > a[href]:focus,
.cart-empty > a[href]:focus,
.cart > a[href]:focus {
  background-color: #fff;
  color: #000;
}

.login:focus > a,
.cart-empty:focus > a,
.cart:focus > a {
  background-color: #fff;
  color: #000;
}

.login > a {
  min-width: 92px;
}

.cart > a {
  background-color: #fff;
  color: #000;
}

.cart-empty > a,
.cart > a {
  min-width: 117px;
}

.login svg,
.cart-empty svg,
.cart svg {
  margin-right: 8px;
}

/*Поиск*/
  /*Кнопка*/
.search-icon-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
  border: none;
}

.search:hover .search-icon-button,
.search:focus .search-icon-button {
  background-color: #fff;
}

.nav-icon {
  fill: #FFFFFF;
}
/*Ховерофокус для иконок в пользовательской навигации*/
.search:hover .nav-icon,
.search:focus .nav-icon,
.cart-empty:hover .nav-icon,
.login:hover .nav-icon,
.cart-empty:focus .nav-icon,
.login:focus .nav-icon{
  fill: #000000;
}

  /*Форма поиска*/
.search-form-wrapper {
  display: none;
}

.search:hover .search-form-wrapper,
.search:focus .search-form-wrapper {
  display: block;
}

.search-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: absolute;
  bottom: -84px;
  left: -309px;

  width: 341px;
  height: 84px;


  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);


          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  background-color: #f8f7f4;
}

.search-form input[type="text"] {
  width: 309px;
  height: 42px;
  padding-left: 14px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid #d3d3d2;
}

.search-form input[type="text"]::-webkit-input-placeholder {font-size: 14px;}
.search-form input[type="text"]::-moz-placeholder {font-size: 14px;}
.search-form input[type="text"]:-moz-placeholder  {font-size: 14px;}
.search-form input[type="text"]:-ms-input-placeholder {font-size: 14px;}
/*Логин*/

  /*Форма*/

.login-form-wrapper {
  position: absolute;

  bottom: -213px;
  left: -183px;

  display: none;
}

.login:hover .login-form-wrapper,
.login:hover .login-form-wrapper {
  display: block;
}

.login-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 20px;

  width: 277px;
  min-height: 214px;

  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  border-radius: 6px;
  background-color: #f8f7f4;
}

.login-form input:not(.button) {
  margin-bottom: 20px;
  width: 242px;
  height: 44px;
  padding-left: 14px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.login-form input:not(.button)::-webkit-input-placeholder {font-size: 14px;}
.login-form input:not(.button)::-moz-placeholder{font-size: 14px;}
.login-form input:not(.button):-moz-placeholder{font-size: 14px;}
.login-form input:not(.button):-ms-input-placeholder{font-size: 14px;}
.login-form .button{
  width: 100px;
  height: 44px;

  border-radius: 20px;
  margin-right: 21px;
}

.button-and-link-wrapper {
  width: 241px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.login-form-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: auto;
}

/*Корзина*/

.cart-wrapper {
  position: absolute;
  bottom: -242px;
  left: -422px;

  display: none;

  width: 540px;
  min-height: 242px;

  padding: 20px 15px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  color: #323232;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart:hover .cart-wrapper,
.cart:focus .cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-underline {
  width: 100%;

  margin-top: 4px;
  margin-bottom: 12px;

  background-color: #cacac7;
}

.cart .cart-link::before {
  content: '';
  background-image: url(../img/icons/cart-icon.svg);

  display: block;

  width: 21px;
  height: 20px;

  margin-right: 7px;
}

.cart-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.subtable-wrapper {
  margin-left: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cart-item-description {
  font-size: 13px;
  line-height: 16px;

  padding-left: 5px;
  padding-right: 5px;
}

.delete-item-button {
  background-image: url(../img/icons/close-delete-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;

  border: none;
  background-color: transparent;
  height: 11px;
  width: 11px;

  margin-right: 9px;
}

.cart-item-price {
  color: #999999;
}

.cart-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;

  margin-left: auto;
  margin-right: -2px;
  margin-bottom: 17px;
}

.cart-wrapper .button {
  width: 170px;
  height: 44px;

  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
}

.table-image{
  border-radius: 50%;
  margin-right: 13px;
}

.table-item-name {
  max-width: 217px;
  margin-right: 31px;
}

.table-item-weight {
  padding: 0;
  margin: 0;
  margin-right: 29px;
}


/*Ссылки в форме*/

.login-form a {
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  text-decoration: underline;
}

/*Номер телефона*/



.number-itself {
  display: block;

  font-size: 22px;
  line-height: 24px;
  margin-top: 3px;
  margin-right: -2px;
}

/*Крошки*/

.breadcrumbs {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17px;
}

.breadcrumbs a {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '»';
  margin-left: 8px;
  margin-right: 5px;
}

.breadcrumps-current span{
  font-size: 14px;
  line-height: 16px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 28px;
}

/*Сетка всего хедера*/

.header-logo {
  margin-right: 11px;
}

.main-nav-wrapper a[href="index.html"] {
  width: 181px;
  height: 63px;
  margin-right: 9px;
}

.main-navigation {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  width: 100%;

  z-index: 2;
  height: 75px;
}

.page-header .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*Слайдер*/

.slider .button {
  padding: 7px 38px 12px 41px;

  font-size: 32px;
  line-height: 44px;

  margin-bottom: 31px;
}

.slide-description {
  display: block;
  margin: 0 auto;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  z-index: 1;

  max-width: 685px;
  margin-bottom: 33px;
}

.slider-dots {
  position: absolute;
  left: 1px;
  bottom: 54px;

  list-style: none;
  margin: 0;
  padding: 0;

  width: 80px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.slider-dot {
  cursor: pointer;

  width: 19px;
  height: 19px;

  display: block;

  border-radius: 50%;

  border: 1px solid #fff;
}

.slider-dot:hover {
  background-color: rgba(255, 255, 255, .4);
}

.slide-toggle-1:checked ~ .wrapper label[for="toggle-slide-1"] {
  background-color: #fff;
}

.slide-toggle-2:checked ~ .wrapper label[for="toggle-slide-2"] {
  background-color: #fff;
}

.slide-toggle-3:checked ~ .wrapper label[for="toggle-slide-3"] {
  background-color: #fff;
}
  /*Сетка слайдера*/

.slider {
  position: relative;
  padding-top: 275px;
  text-align: center;
}

.slide {
  display: none;
}



/*Переключатель слайдов фона*/

.slide-toggle-1:checked ~ .wrapper .slide-1,
.slide-toggle-2:checked ~ .wrapper .slide-2,
.slide-toggle-3:checked ~ .wrapper .slide-3 {
  display: block;
}


.slide-toggle-1:checked ~ .wrapper {
  -webkit-transition: background-color .7s, background-image .3s ease-in-out;
  -o-transition: background-color .7s, background-image .3s ease-in-out;
  transition: background-color .7s, background-image .3s ease-in-out;
  background-image: url(../img/main-slider/icecream-slide-1.png);
  background-repeat: no-repeat;
  background-position: center -3px;
  background-color: #849d8f;
}

.slide-toggle-2:checked ~ .wrapper {
  -webkit-transition: background-color .7s, background-image .3s ease-in-out;
  -o-transition: background-color .7s, background-image .3s ease-in-out;
  transition: background-color .7s, background-image .3s ease-in-out;
  background-image: url(../img/main-slider/icecream-slide-2.png);
  background-repeat: no-repeat;
  background-position: center -3px;
  background-color: #8996a6;
}

.slide-toggle-3:checked ~ .wrapper {
  -webkit-transition: background-color .7s, background-image .3s ease-in-out;
  -o-transition: background-color .7s, background-image .3s ease-in-out;
  transition: background-color .7s, background-image .3s ease-in-out;
  background-image: url(../img/main-slider/icecream-slide-3.png);
  background-repeat: no-repeat;
  background-position: center -3px;
  background-color: #9d8b84;
}


/*Блок с промо-информацией*/

.promo-info {
  margin-top: 9px;
  margin-bottom: 40px;
}

.banner {
  width: 48.86561954%;
  border-radius: 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-left: 20px;
  padding-right: 21px;

  z-index: 2;
}

.banner p {
  margin: 0;
  margin-bottom: 45px;

  width: 100%;

  font-weight: bold;
  font-size: 18px;
}

.banner .button {

  padding-top: 9px;
  padding-bottom: 13px;
  padding-left: 18px;
  padding-right: 23px;

  font-size: 18px;
  line-height: 24px;

  margin-bottom: 23px;
  margin-left: auto;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.free-raspberries {
  background-color: #5a101e;
  background-image: url(../img/backgrounds/raspberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.free-chocolate {
  background-color: #42281d;
  background-image: url(../img/backgrounds/chocolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

/*Сетка блока с промо-информацией*/

.promo-info .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

/*Популярные товары*/

.popular-items {
  margin-bottom: 37px;
}

.popular-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-items-list.items-list li,
.popular-items-list.items-list{
  margin-bottom: 0;
}

.popular-items-list li,
.items-list li {
  width: 23.298429319371%;
  position: relative;
}

.image-wrapper-relative {
  position: relative;

  width: 100%;
  height: 84.259259259259259%;
}

.popular-items-list .image-wrapper-relative::before {
  content:'';

  display: block;
  width: 61px;
  height: 61px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url(../img/icons/hot-icon.svg);

}

.item-wrapper {
  cursor: default;

  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
}

.price {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  position: absolute;
  left: 0;
  bottom: 12px;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  cursor: pointer;
}

.weight {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-size: 30px;

  line-height: 53px;
}

.weight::before {
  content: url(../img/icons/ruble-icon.svg);
  display: inline-block;

  vertical-align: top;

  height: 43px;
  margin-left: 3px;
}

.icecream-name {
  margin-top: 7px;
  margin-bottom: 0;

  font-weight: 200;
  text-decoration: underline;
  text-align: center;
  width: 96%;

  padding-left: 5px;
  padding-right: 5px;
}

/*Преимущества*/

.features {
  background-color: #eaddbf;
  background-image: url(../img/backgrounds/wafer-bg.jpg);
  color: #323232;

  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 21px;
  padding-right: 22px;

  margin-bottom: 40px;

  border-radius: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.shop-description {
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;

  display: block;
  margin-bottom: 2px;
}

span.feature-text {
  margin-top: 13px;
}

.features-list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 48.8656195461%;
}

.feature-item p {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 2px;
  margin-top: 7px;
}

.feature-item p::before {
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
}

.icecream-feature::before {
  content: url(../img/icons/icecream-icon.svg);
}

.cow-feature::before {
  content: url(../img/icons/cow-icon.svg);
}

.leaf-feature::before {
  content: url(../img/icons/leaf-icon.svg);
}

.thermometer-feature::before {
  content: url(../img/icons/thermometer-icon.svg);
}

/*Блог*/

.article-dispath-wrapper {
  margin-bottom: 40px;
}

.article-dispath-wrapper .container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.serving-ways-article {
  padding-top: 23px;
  padding-left: 20px;

  width: 48.86561954%;
  border-radius: 15px;

  background-color: #fff;
  background-image: url(../img/backgrounds/strawberry-bg.jpg);
  background-position: -51px -224px;

  min-height: 220px;
  color: #323232;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-title {
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 3px;
}

.article-title {
  display: block;

  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-weight: bold;
  color: #323232;

  max-width: 280px;
}

/*Рассылка*/

.dispath {
  padding: 0 26px;
  padding-top: 34px;

  width: 48.86561954%;
  border-radius: 15px;

  min-height: 220px;
  background-color: #f8f7f4;
  color: #5a5a5a;

  background-image:
    url(../img/backgrounds/dispath-bg.png),
    -webkit-repeating-linear-gradient(316deg,
      #fe9e90 -4px,
      #fe9e90 3px,
      #fff 3px,
      #fff 10px,
      #92cdff 10px,
      #92cdff 17px,
      #fff 17px,
      #fff 24px);

  background-image:
    url(../img/backgrounds/dispath-bg.png),
    -o-repeating-linear-gradient(316deg,
      #fe9e90 -4px,
      #fe9e90 3px,
      #fff 3px,
      #fff 10px,
      #92cdff 10px,
      #92cdff 17px,
      #fff 17px,
      #fff 24px);

  background-image:
    url(../img/backgrounds/dispath-bg.png),
    repeating-linear-gradient(134deg,
      #fe9e90 -4px,
      #fe9e90 3px,
      #fff 3px,
      #fff 10px,
      #92cdff 10px,
      #92cdff 17px,
      #fff 17px,
      #fff 24px);
  background-position: 5px 4px, top left;

  background-repeat: no-repeat;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-size: 98.3% 96%, 100%;

  position: relative;
}
/*Рамка*/

.dispath p {
  margin-top: 0;
  margin-bottom: 36px;
}

.dispath-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.dispath-form input[name="dispath-email"] {
  padding-left: 14px;

  width: 368px;
  height: 44px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border-radius: 6px;

  border: 1px solid #d3d3d2;
}

.dispath-form .button {
  min-width: 128px;
}

/*Адрес и карта*/

.adress-descr {
  position: absolute;
  right: 2.25%;
  top:50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  padding: 30px 25px;

  background-color: #fff;

  font-size: 14px;
  color: #323232;
  line-height: 20px;

  border-radius: 15px;
  border-bottom: 1px solid #fff;
}

.adress-descr p {
  width: 225px;
  margin: 0;
}

p.adress {
  margin-bottom: 18px;
}

.adress span {
  font-size: 18px;
  font-weight: bold;

  line-height: 24px;
}

.phone-number {
  margin-top: -6px;
  margin-left: auto;
  margin-bottom: 0;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;

}

p.phone-order {
  margin-bottom: 23px;
}

.phone-number.map-number {
  font-size: 18px;
  line-height: 22px;

  display: block;
  text-align: left;
  margin: 4px 0;
}

.map .button {
  padding: 0 28px;
  padding-top: 10px;
  padding-bottom: 15px;

  font-size: 18px;

  border: none;
  color: #fff;

  cursor: pointer;
}
/*Карта*/
.map {
  margin: 0 auto;
  position: relative;
  height: 430px;

  background-image: url(../img/backgrounds/map-fallback-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.map-frame {
  width: 100%;
  height: 100%;
}

/*Футер*/

  /*Сетка*/

.page-footer {
  height: 100px;
}

.catalog-footer .container {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.page-footer .container {
  height: 100%;

  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

/*Социконки*/

.social-list {
  margin: 0;
  padding: 0;

  margin-top: 7px;
  margin-left: 2px;

  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list li {
  height: 38px;
}

.social-list a {
  margin-right: 11px;
}

.social-list svg {
  border-radius: 50%;
  border: 3px solid;
  border-color: rgba(255, 255, 255, .4);
}

.social-list svg:hover {
  border-color: rgba(255, 255, 255, .7);
}

.social-icon-fill {
  fill: rgba(255, 255, 255, .8);
}

.social-icon:hover .social-icon-fill {
  fill: #ffffff;
}

.social-icon:active .social-icon-fill {
  fill: #e9e9e9;
}


/*Для поставщиков*/

.for-providers-list {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-left: 2px;
  list-style: none;
  width: 310px;
  height: 50px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.for-providers-list li {
  margin-right: 31px;
}

.for-providers-list a{
  font-size: 13px;
  line-height: 18px;
  margin-right: auto;


  text-decoration: underline;
}

.for-providers-link {
  font-weight: bold;
}

.for-providers-link::before {
  margin-left: -22px;

  content: url(../img/icons/heart-icon.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;

  vertical-align: middle;
}
/*Копирайт*/

.copyright-wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-bottom: 6px;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
}

.copyright-text a {
  text-decoration: underline;
}

/*Форма сортировки в каталоге*/

.filters {
  min-height: 130px; /*Временно для сетки*/
  margin-bottom: 40px;
}

.sorting-form {
  width: 857px;

  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;

  -ms-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sort-stuffing-wrapper {
  margin-top: 15px;
}

.selection-drop-wrapper > label,
.radio-wrapper label,
.sorting-form h3 {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 7px;
  display: block;
  margin-left: 16px;
}

.sort-field label {
  font-weight: 200;
  line-height: 18px;

  margin-right: 18px;
}

.sort-field label:last-child {
  margin-right: 0;
}

.radio-substrate {
  width: 218px;
  height: 36px;

  border-radius: 25px;

  background-color: rgba(255, 255, 255, .2);

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0 21px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-line {
  width: 100%;
  height: 4px;

  background-color: rgba(255, 255, 255, .5);
}

.selected-line {
  margin-left: 21px;
  margin-right: 53px;

  height: 100%;

  background-color: #fff;

  position: relative;
}

.left-slider,
.right-slider {
  position: absolute;

  width: 4px;
  height: 4px;

  background-color: #ababab;

  border: 8px solid #fff;
  border-radius: 50%;

  top: -8px;

  cursor: pointer;
}

.left-slider {
  left: -8px;
}

.right-slider {
  right: -8px;
}

.left-slider:hover,
.right-slider:hover{
  border-width: 9px;
  top: -9px;
}

.left-slider:hover {
  left: -9px;
}

.right-slider:hover {
  right: -9px;
}
/*Чекбоксы и радио*/
.sort-field span {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-field span::before {
  content: '';
  display: block;
  opacity: .6;
}

.stuffing span::before{
  width: 23px;
  height: 22px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;

  margin-right: 12px;
}

.fat span::before {
  width: 22px;
  height: 22px;

  margin-right: 9px;

  -webkit-transition: background-image .2s ease;

  -o-transition: background-image .2s ease;

  transition: background-image .2s ease;
  background-image: url(../img/icons/radio-off.svg);
  background-position: center center;
  background-size: 100%;
}

.fat input:checked + span::before {
  -webkit-transition: background-image .3s ease;
  -o-transition: background-image .3s ease;
  transition: background-image .3s ease;
  background-image: url(../img/icons/radio-on.svg);
}

.stuffing input:checked + span::before {
  background-image: url(../img/icons/checkbox-on.svg);
  background-size: 24px;
  background-position: 1px;
}

.sort-field.fat input:focus + span::before,
.sort-field.fat input:hover + span::before {
  opacity: 1;
}

.sort-field.stuffing input:focus + span::before,
.sort-field.stuffing input:hover + span::before {
  opacity: 1;
}

.sort-field.fat input:disabled + span::before {
  opacity: .3;
}

.sort-field.stuffing input:disabled + span::before {
  opacity: .3;
}

.fieldset-wrapper {
  height: 36px;
}

.selection {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 193px;
  height: 36px;
  background-color: rgba(255, 255, 255, .2);

  font-size: 16px;
  color: #fff;

  background-image: url(../img/icons/select-appearance.svg);

  background-position: 168px center;

  background-repeat: no-repeat;

  padding-left: 16px;

  border-radius: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.selection::-ms-expand {
  display: none;
}

.selection:focus,
.selection:hover {
  color: #000;

  background-image: url(../img/icons/select-appearance-hover.svg);
  outline: none;
}

.selection option {
  color: #000;
}

.sort-field {
  border: none;

  padding-left: 14px;
  padding-right: 18px;

  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  height: 36px;

  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-submit {
  -webkit-transition: color .3s, background-color .3s;
  -o-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;

  height: 36px;
  padding: 0 28px;

  color: #fff;
  background-color: rgba(255, 255, 255, .2);

  border: 2px solid #fff;

  cursor: pointer;
  border-radius: 25px;
}

.filter-submit:hover,
.filter-submit:focus {
  outline: none;
  -webkit-transition: color .3s, background-color .3s;
  -o-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;

  background-color: #fff;
  color: #000;
}

.filter-submit:active {
  -webkit-transition: -webkit-box-shadow .1s;
  transition: -webkit-box-shadow .1s;
  -o-transition: box-shadow .1s;
  transition: box-shadow .1s;
  transition: box-shadow .1s, -webkit-box-shadow .1s;

  border:none;
  padding: 0 30px;

  background-color: #eaeaea;

  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);

          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}



/*Каталог*/

.items .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items-list {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.item-wrapper {
  max-height: 406px;

  overflow: hidden;
}

.items-list .item-wrapper:hover::before,
.items-list .item-wrapper:focus::before {
  display: block;
}

.items-list  .item-wrapper:hover,
.items-list  .item-wrapper:focus{
  outline: none;
  overflow: visible;
}

.item-wrapper::before {
  content: '';
  position: absolute;

  display: none;

  top: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  z-index: 1;

  width: 110%;
  height: 127%;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.item-wrapper .button {
  position: absolute;
  bottom: -18%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  z-index: 2;
  border-radius: 20px;
}

.item-wrapper:hover .image-wrapper-relative,
.item-wrapper:hover .icecream-name,
.item-wrapper:focus .image-wrapper-relative,
.item-wrapper:focus .icecream-name {
  z-index: 3;
}

.items-list .item-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-list li {
  margin-bottom: 38px;
}

/*Пагинация*/

.pagination {
  margin: 0 -8px 24px auto;
  padding: 0;

  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-item,
.pagination-prev {
  margin-right: 5px;
}

.pagination-next a,
.pagination-prev {
  background-image: url(../img/icons/pagination-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.crazy-thing {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.pagination a,
.pagination-arrow-deadend {
  width: 25px;
  height: 25px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-weight: 200;
  line-height: 18px;
  border-radius: 50%;
}

.pagination-arrow-deadend {
  cursor: default;
  opacity: .2;
}

.pagination a:hover,
.pagination a:focus {
  background-color: rgba(255, 255, 255, .2)
}

.pagination-item.pagination-item-current a[href],
.pagination a[href]:active {
  color: #000;
  background-color: #fff;
}


/*Глобальные стили, которые должны стоять в конце*/

input.form-text-field {
  font-weight: bold;
  color: #000;
  border: 1px solid #d3d3d2;
}

input.form-text-field:hover {
  border: 2px solid #c7c6c5;
}

input.form-text-field::-webkit-input-placeholder {font-weight: normal; font-size: 16px; color: #999999;}
input.form-text-field::-moz-placeholder{font-weight: normal; font-size: 16px; color: #999999;}
input.form-text-field:-moz-placeholder{font-weight: normal; font-size: 16px; color: #999999;}
input.form-text-field:-ms-input-placeholder{font-weight: normal; font-size: 16px; color: #999999;}

input.form-text-field:focus {
  outline: none;
  border: 2px solid #8fbdec;
}

/*Фидбэк*/

.backdrop {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 4;

  -webkit-transition: background-color .3s ease-in;

  -o-transition: background-color .3s ease-in;

  transition: background-color .3s ease-in;
  background-color: rgba(0, 0, 0, .3);
}

@-webkit-keyframes feedback-creep-appear{
 0% {
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
        transform: translate(100%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes feedback-creep-appear{
 0% {
    -webkit-transform: translate(100%, -50%);
    -ms-transform: translate(100%, -50%);
        transform: translate(100%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    opacity: 1;
  }
}

/*@keyframes feedback-creep-disappear{
  0% {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
    opacity: 0;
  }
}*/

.feedback-form-appear {
  -webkit-animation-name: feedback-creep-appear;
          animation-name: feedback-creep-appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

/*.feedback-form-disappear {
  animation-name: feedback-creep-disappear;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}*/

@-webkit-keyframes popup-wrong{
 0%, 100% {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
 }

 20% {
  -webkit-transform: translate(-65%, -50%);
          transform: translate(-65%, -50%);
 }

 40% {
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
 }

 60% {
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
 }

 80% {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
 }

}

@keyframes popup-wrong{
 0%, 100% {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
 }

 20% {
  -webkit-transform: translate(-65%, -50%);
          transform: translate(-65%, -50%);
 }

 40% {
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
 }

 60% {
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
 }

 80% {
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
 }

}

.wrong-fields {
  -webkit-animation-name: popup-wrong;
          animation-name: popup-wrong;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.feedback-form-wrapper {
  position: fixed;

  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background-color: #f8f7f4;

  width: 477px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 5;

  padding: 0 24px;

  padding-top: 15px;

  border-radius: 10px;
}

.feedback-form-wrapper b {
  color: #323232;
  font-size: 24px;
  line-height: 28px;

  display: block;

  margin-bottom: 20px;
}

.feedback-input {
  width: 268px;
  height: 44px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 14px;

  border-radius: 6px;

  margin-bottom: 20px;
}

.feedback-form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;

  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


.feedback-form .button {
  margin-left: auto;

  font-size: 17px;

  padding: 10px 24px;
  padding-left: 22px;

  margin-bottom: 25px;
}

.feedback-form textarea {
  resize: none;

  font-weight: bold;
  color: #000;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 6px;

  width: 100%;
  height: 155px;

  padding-left: 14px;
  padding-top: 11px;
  margin-bottom: 25px
}

.feedback-form textarea:focus {
  outline: none;
  border: 2px solid #8fbdec;
}

.feedback-form textarea::-webkit-input-placeholder {font-weight: normal; font-size: 16px; color: #999999;}
.feedback-form textarea::-moz-placeholder{font-weight: normal; font-size: 16px; color: #999999;}
.feedback-form textarea:-moz-placeholder{font-weight: normal; font-size: 16px; color: #999999;}
.feedback-form textarea:-ms-input-placeholder{font-weight: normal; font-size: 16px; color: #999999;}

.feedback-form textarea:hover {
  border: 2px solid #c7c6c5;
}

.popup-close {
  position: absolute;

  width: 18px;
  height: 17px;

  font-size: 0;
  background-color: transparent;

  background-image: url(../img/icons/close-delete-icon.svg);
  background-size: 100%;

  background-position: center center;

  background-repeat: no-repeat;

  border: none;

  right: 16px;
  top: 15px;
}
