/*Подключение шрифтов*/
@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/roboto.woff2) format('woff2'),
    url(../fonts/roboto.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/robotomedium.woff2) format('woff2'),
    url(../fonts/robotomedium.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/robotobold.woff2) format('woff2'),
    url(../fonts/robotobold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/*Глобальные стили*/

.catalog-body {
  background-color: #95ab9f;
}

.container {
  margin: 0 auto;

  width: 95.5%;
  min-width: 860px;
  max-width: 1146px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  background-color: #95ab9f;
}

a {
  text-decoration: none;
  color: #fff;
}

.item-wrapper img{
  border-radius: 50%;
}

.button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -moz-linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
}

.button:hover,
.button:focus {
  outline: none;
  background-image: none;
  background-color: #ef7862;
}

.button:active {
  background-image: -moz-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

input.button {
  border: none;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

.item-wrapper .button {
  /*box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);*/
  height: 44px;
  line-height: 44px;
  width: 200px;
  font-size: 18px;
}

/*Стили для хедера*/
  /*Стили для менюшки слева*/
      /*Стилизация ссылок в менюшке*/
.topper {
  position: relative;
  padding-bottom: 5px;
}

.topper > a {
  padding: 0 14px;
  display: inline-flex;
  height: 32px;
  -ms-align-items: center;
  align-items: center;
  border-radius: 30px;
  text-decoration: underline;
  font-weight: bold;
}

.topper:hover > a,
.topper:focus > a {
  text-decoration: none;
  outline: none;
  background-color: #fff;
  color: #000;
}

.topper:hover > a:active,
.topper:focus > a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

a.main-nav-current {
  background-color: #d07058;
  text-decoration: none;
}

/*.topper > a:hover,
.topper > a:focus {
  outline: none;
  background-color: #fff;
  color: #000;
}*/

.topper-catalog:hover .drop-down-list,
.topper-catalog:focus .drop-down-list,
.catalog-link:hover .drop-down-list,
.catalog-link:focus .drop-down-list {
  display: block;
}
    /*Обнуление отступов и отключение маркировки для обоих списков */
.drop-down-list,
.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.main-navigation-list {
  width: 378px;
  justify-content: space-between;
}
    /*Стилизация выпадашки*/
.drop-down-list {
  position: absolute;
  display: none;
  bottom: -170px;
  left: -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 143px;

  text-align: left;
  font-size: 14px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.drop-down-list li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;

  font-size: 14px;
  height: 33px;
  line-height: 33px;
}

.drop-down-list li:first-child {
  height: 38px;
}

.drop-down-list a {
  padding-left: 13px;
  display: block;
  box-sizing: border-box;
  width: 128px;

  color: #000;
}

.drop-down-header {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

.drop-down-list li:hover,
.drop-down-list li:focus {
  background-color: #fbded7;
}

.drop-down-list li:active {
  background-color: #f6b5a5
}

.current-pos {
  background-color: #d07058;
}

.current-pos a {
  color: #fff;
}

/*Стилизация пользовательской навигации*/
.side-navigation-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 267px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 6px;
  list-style: none;
}

.side-navigation-list a {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;

  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.side-navigation-list li {
  position: relative;
  padding-bottom: 5px;
}

.login > a,
.cart-empty > a,
.cart > a {

  justify-content: flex-start;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  height: 32px;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  padding-left: 16px;
}

.login:hover > a,
.cart-empty:hover > a,
.cart:hover > a,
.login:focus > a,
.cart-empty:focus > a,
.cart:focus > a {
  background-color: #fff;
  color: #000;
}

.login > a {
  min-width: 92px;
}

.cart > a {
  background-color: #fff;
  color: #000;
}

.cart-empty > a,
.cart > a {
  min-width: 117px;
}

.login svg,
.cart-empty svg,
.cart svg {
  margin-right: 8px;
}

/*Поиск*/
  /*Кнопка*/
.search-icon-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
  border: none;
}

.search:hover .search-icon-button,
.search:focus .search-icon-button {
  background-color: #fff;
}

.nav-icon {
  fill: #FFFFFF;
}
/*Ховерофокус для иконок в пользовательской навигации*/
.search:hover .nav-icon,
.search:focus .nav-icon,
.cart-empty:hover .nav-icon,
.login:hover .nav-icon,
.cart-empty:focus .nav-icon
.login:focus .nav-icon{
  fill: #000000;
}

  /*Форма поиска*/

.search-form-wrapper {
  display: none;
}

.search:hover .search-form-wrapper,
.search:focus .search-form-wrapper {
  display: block;
}

.search-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  position: absolute;
  bottom: -84px;
  left: -309px;

  width: 341px;
  height: 84px;


  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  background-color: #f8f7f4;
}

.search-form input[type="text"] {
  width: 309px;
  height: 42px;
  padding-left: 14px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid #d3d3d2;
}

/*Логин*/

  /*Форма*/

.login-form-wrapper {
  position: absolute;
  bottom: -214px;
  left: -186px;

  display: none;
}

.login:hover .login-form-wrapper,
.login:hover .login-form-wrapper {
  display: block;
}

.login-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  -ms-align-items: center;
  align-items: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 20px;

  width: 277px;
  min-height: 214px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  border-radius: 6px;
  background-color: #f8f7f4;
}

.login-form input:not(.button) {
  margin-bottom: 20px;
  width: 239px;
  height: 42px;
  padding-left: 14px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.login-form .button{
  width: 100px;
  height: 44px;
}

.button-and-link-wrapper {
  width: 241px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;
}

.login-form-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*Корзина*/

.cart-wrapper {
  position: absolute;
  bottom: -242px;
  left: -422px;

  display: none;

  width: 540px;
  min-height: 242px;

  color: #323232;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart:hover .cart-wrapper,
.cart:focus .cart-wrapper {
  display: block;
}


.cart .cart-link::before {
  content: url(../img/icons/cart-icon.svg);
  margin-right: 7px;
}

.cart-item-description {
  font-size: 13px;
  line-height: 16px;
}

.delete-item-button {
  background-image: url(../img/icons/close-delete-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;

  border: none;
  background-color: transparent;
  height: 11px;
  width: 11px;
}

.cart-item-price {
  color: #999999;
}

.cart-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.cart-wrapper .button {
  width: 170px;
  height: 44px;
}

/*Ссылки в форме*/

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

/*Номер телефона*/



.number-itself {
  font-size: 22px;
  line-height: 24px;
}

/*Крошки*/

.breadcrumbs {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 17px;
}

.breadcrumbs a {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '»';
  margin-left: 8px;
  margin-right: 8px;
}

.breadcrumps-current span{
  font-size: 14px;
  line-height: 16px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: 0;
}

/*Сетка всего хедера*/

.header-logo {
  margin-right: 11px;
}

.main-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  align-items: center;
  width: 100%;

  z-index: 2;
  min-height: 75px;
}

.page-header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*Слайдер*/

/*input[name="slide-dot"] {
  display: none;
}*/

.slider .button {
  width: 278px;
  height: 63px;

  font-size: 32px;
  line-height: 44px;
  z-index: 1;
}

.slide-description {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  z-index: 1;

  max-width: 685px;
  margin-bottom: 34px;
}

  /*Сетка слайдера*/

.slider {
  position: relative;
  min-height: 525px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  -ms-align-items: center;
  align-items: center;

  justify-content: flex-end;
}

.slide-wrapper {
  margin-top: auto;

}

.slide img {
  position: absolute;
  top: -389px;
  z-index: 0;
}

.slide {
  transition: opacity .7s;

  opacity: 0;

  padding-bottom: 33px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: absolute;

  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}


/*Переключатель слайдов фона*/

.slide-toggle-1:checked ~ .wrapper .slide-1,
.slide-toggle-2:checked ~ .wrapper .slide-2,
.slide-toggle-3:checked ~ .wrapper .slide-3 {
  transition: opacity .7s;
  opacity: 1;
}


.slide-toggle-1:checked ~ .wrapper {
  transition: background-color .7s;
  background-color: #849d8f;
}

.slide-toggle-2:checked ~ .wrapper {
  transition: background-color .7s;
  background-color: #8996a6;
}

.slide-toggle-3:checked ~ .wrapper {
  transition: background-color .7s;
  background-color: #9d8b84;
}


/*Блок с промо-информацией*/

.promo-info {
  margin-top: 9px;
  margin-bottom: 40px;
}

.banner {
  width: 48.86561954%;
  border-radius: 15px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  justify-content: flex-start;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0 21px;

  z-index: 2;
}

.banner p {
  margin: 0;
  margin-bottom: 43px;

  font-weight: bold;
  font-size: 18px;
}

.banner .button {
  padding: 0 21px;
  height: 46px;

  font-size: 18px;
  line-height: 24px;

  margin-bottom: 23px;
  margin-left: auto;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.free-raspberries {
  background-color: #5a101e;
  background-image: url(../img/backgrounds/raspberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.free-chocolate {
  background-color: #42281d;
  background-image: url(../img/backgrounds/chocolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

/*Сетка блока с промо-информацией*/

.promo-info .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;
}

/*Популярные товары*/

.popular-items {
  margin-bottom: 40px;
}

.popular-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.popular-items-list li,
.items-list li {
  width: 23.298429319371%;
  position: relative;
}



.item-wrapper {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: center;
}

.price {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  position: absolute;
  left: 0;
  top: 160px;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.weight {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;

  font-size: 30px;
}

.weight::before {
  content: url(../img/icons/ruble-icon.svg);
  display: inline-block;

  height: 31px;
}

.icecream-name {
  margin-top: 15px;
  margin-bottom: 0;

  font-weight: 200;
  text-decoration: underline;
  text-align: center;
  max-width: 255px;
}

/*Преимущества*/

.features {
  background-color: #eaddbf;
  background-image: url(../img/backgrounds/wafer-bg.jpg);
  color: #323232;

  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 33px;

  margin-bottom: 40px;

  border-radius: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shop-description {
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;

  display: block;
  margin-bottom: 15px;
}

.features-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 48.8656195461%;
}

.feature-item p {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  margin-top: 7px;
  margin-bottom: 15px;
}

.feature-item p::before {
  margin-top: -17px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.icecream-feature::before {
  content: url(../img/icons/icecream-icon.svg);
}

.cow-feature::before {
  content: url(../img/icons/cow-icon.svg);
}

.leaf-feature::before {
  content: url(../img/icons/leaf-icon.svg);
}

.thermometer-feature::before {
  content: url(../img/icons/thermometer-icon.svg);
}

/*Блог*/

.article-dispath-wrapper {
  margin-bottom: 40px;
}

.article-dispath-wrapper .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;
}

.serving-ways-article {
  padding-top: 25px;
  padding-left: 20px;

  width: 48.86561954%;
  border-radius: 15px;

  background-color: #fff;
  background-image: url(../img/backgrounds/strawberry-bg.jpg);
  background-position: center center;

  min-height: 220px;
  color: #323232;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-title {
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}

.article-title {
  display: block;

  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-weight: bold;
  color: #323232;

  max-width: 280px;
}

/*Рассылка*/

.dispath {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 21px;

  width: 48.86561954%;
  border-radius: 15px;

  min-height: 220px;
  background-color: #f8f7f4;
  color: #5a5a5a;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
/*Рамка*/

.dispath::after {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-image: repeating-linear-gradient(135deg,
    red 0px,
    red 5px,
    white 5px,
    white 10px,
    blue 10px,
    blue 15px,
    white 15px,
    white 20px);
  z-index: -1;
  border-radius: 15px;
}

.dispath p {
  margin-top: 0;
  margin-bottom: 35px;
}

.dispath-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;
}

.dispath-form input[name="dispath-email"] {
  padding-left: 14px;

  width: 366px;
  height: 42px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border-radius: 6px;

  border: 1px solid #d3d3d2;
}

.dispath-form .button {
  min-width: 128px;
}

/*P. S: Рамку буду делать градиентами потом*/

/*Адрес и карта*/

.adress-descr {
  position: absolute;
  right: 2.25%;
  top:50%;
  transform: translateY(-50%);

  padding-top: 33px;
  padding-left: 25px;
  width: 302px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #fff;

  font-size: 14px;
  color: #323232;
  line-height: 20px;

  border-radius: 15px;
  border-bottom: 1px solid #fff;
}

.adress-descr p {
  width: 225px;
  margin: 0;
}

p.adress {
  margin-bottom: 20px;
}

.adress span {
  font-size: 18px;
  font-weight: bold;
}

.phone-number {
  margin-top: -6px;
  margin-left: auto;
  margin-bottom: 0;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;

}

p.phone-order {
  margin-bottom: 23px;
}

.map .button {
  width: 251px;
  height: 43px;
  margin-bottom: 29px;

  font-size: 18px;
}
/*Карта*/
.map {
  margin: 0 auto;
  position: relative;
  min-height: 430px;

  background-image: url(../img/backgrounds/map-fallback-bg.jpg);
  background-position: center center;
}

/*Футер*/

  /*Сетка*/

.page-footer {
  height: 100px;
}

.page-footer .container {
  height: 100%;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -ms-align-items: center;
  align-items: center;

  justify-content: space-between;
}

/*Социконки*/

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.social-list li {
  height: 38px;
}

.social-list a {
  margin-right: 11px;
}

.social-list svg {
  border-radius: 50%;
  border: 3px solid #c2cec7;
}

/*Для поставщиков*/

.for-providers-list {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 310px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-between;
}

.for-providers-list a{
  font-size: 13px;
  line-height: 18px;
  margin-right: auto;


  text-decoration: underline;
}

.for-providers-link {
  font-weight: bold;
}

.for-providers-link::before {
  margin-left: -22px;

  content: url(../img/icons/heart-icon.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
/*Копирайт*/

.copyright-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  align-items: flex-start;
  flex-direction: column;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
}

.copyright-text a {
  text-decoration: underline;
}

/*Форма сортировки в каталоге*/

.filters {
  margin-bottom: 40px;
}

.sorting-form {
  width: 857px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sorting-form > label,
.sorting-form legend {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}

.sort-field label {
  font-weight: 200;
  line-height: 18px;
}

.fieldset-wrapper {
  height: 36px;
}

.selection {
/*  -webkit-appearance: none;*/
  width: 193px;
  height: 36px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;

  padding-left: 16px;

  border-radius: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.selection::after {
  content: url(../img/icons/icon-down-dir.svg);
  display: block;

}

.selection option {
  color: #000;
}

.sort-field {
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
}

/*Каталог*/

.items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-wrapper {
  max-height: 405px;

  overflow: hidden;
}

.items-list li:hover .item-wrapper::before,
.items-list li:hover .item-wrapper::before {
  display: block;
}

.items-list li:hover .item-wrapper,
.items-list li:hover .item-wrapper{
  overflow: visible;
}

.item-wrapper::before {
  content: '';
  position: absolute;

  display: none;

  top: -9px;

  z-index: 1;

  width: 110%;
  height: 124%;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.item-wrapper .button {
  position: absolute;
  bottom: -59px;
  z-index: 2;
}

.item-wrapper:hover img,
.item-wrapper:hover .price,
.item-wrapper:hover .icecream-name {
  z-index: 3;
}

.items-list .item-wrapper {
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.items-list li {
  margin-bottom: 35px;
}

/*Пагинация*/

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.pagination a,
.pagination-arrow-deadend {
  width: 25px;
  height: 25px;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  font-weight: 200;
  line-height: 18px;
  border-radius: 50%;
}

.pagination-arrow-deadend {
  cursor: default;
}

.pagination a:hover,
.pagination a:focus {
  background-color: rgba(255, 255, 255, .2)
}

.pagination-item-current a,
.pagination a:active {
  color: #000;
  background-color: #fff;
}
