/*Подключение шрифтов*/
@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/roboto.woff2) format('woff2'),
    url(../fonts/roboto.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/robotomedium.woff2) format('woff2'),
    url(../fonts/robotomedium.woff) format('woff');
  font-weight: 150;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url(../fonts/robotobold.woff2) format('woff2'),
    url(../fonts/robotobold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

/*Глобальные стили*/

.catalog-body {
  background-color: #95ab9f;
}

.container {
  margin: 0 auto;

  width: 95.5%;
  min-width: 860px;
  max-width: 1146px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;

  background-color: #95ab9f;
}

a {
  text-decoration: none;
  color: #fff;
}

.item-wrapper img{
  border-radius: 50%;
}

.button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -moz-linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 30px;
}

.button:hover,
.button:focus {
  outline: none;
  background-image: none;
  background-color: #ef7862;
}

.button:active {
  background-image: -moz-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

input.button {
  border: none;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

.item-wrapper .button {
  /*box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);*/
  height: 44px;
  line-height: 44px;
  width: 200px;
  font-size: 18px;
}

/*Стили для хедера*/
  /*Стили для менюшки слева*/
      /*Стилизация ссылок в менюшке*/
.topper {
  position: relative;
  padding-bottom: 5px;
}

.topper > a {
  padding: 0 14px;
  display: inline-flex;
  height: 32px;
  -ms-align-items: center;
  align-items: center;
  border-radius: 30px;
  text-decoration: underline;
  font-weight: bold;
}

.topper:hover > a,
.topper:focus > a {
  text-decoration: none;
  outline: none;
  background-color: #fff;
  color: #000;
}

.topper:hover > a:active,
.topper:focus > a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

a.main-nav-current {
  background-color: #d07058;
  text-decoration: none;
}

/*.topper > a:hover,
.topper > a:focus {
  outline: none;
  background-color: #fff;
  color: #000;
}*/

.topper-catalog:hover .drop-down-list,
.topper-catalog:focus .drop-down-list,
.catalog-link:hover .drop-down-list,
.catalog-link:focus .drop-down-list {
  display: block;
}
    /*Обнуление отступов и отключение маркировки для обоих списков */
.drop-down-list,
.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.main-navigation-list {
  width: 378px;
  justify-content: space-between;
}
    /*Стилизация выпадашки*/
.drop-down-list {
  position: absolute;
  display: none;
  bottom: -170px;
  left: -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 143px;

  text-align: left;
  font-size: 14px;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.drop-down-list li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;

  font-size: 14px;
  height: 33px;
  line-height: 33px;
}

.drop-down-list li:first-child {
  height: 38px;
}

.drop-down-list a {
  padding-left: 13px;
  display: block;
  box-sizing: border-box;
  width: 128px;

  color: #000;
}

.drop-down-header {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

.drop-down-list li:hover,
.drop-down-list li:focus {
  background-color: #fbded7;
}

.drop-down-list li:active {
  background-color: #f6b5a5
}

.current-pos {
  background-color: #d07058;
}

.current-pos a {
  color: #fff;
}

/*Стилизация пользовательской навигации (базовая)*/
.side-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-navigation-list a {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;

  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.login > a,
.cart-empty > a,
.cart > a {
  font-weight: 150;
  font-size: 14px;
  line-height: 16px;
}

/*Корзина*/

.cart-wrapper {
  width: 540px;
  min-height: 242px;

  color: #323232;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart-link::before {
  content: url(../img/icons/cart-icon.svg);
  margin-right: 7px;
}

.cart-item-description {
  font-size: 13px;
  line-height: 16px;
}

.delete-item-button {
  background-image: url(../img/icons/close-delete-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;

  border: none;
  background-color: transparent;
  height: 11px;
  width: 11px;
}

.cart-item-price {
  color: #999999;
}

.cart-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.cart-wrapper .button {
  width: 170px;
  height: 44px;
}

/*Ссылки в форме*/

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

/*Номер телефона*/

.phone-number {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.number-itself {
  font-size: 22px;
  line-height: 24px;
}

/*Крошки*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.breadcrumbs a {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '»';
  margin-left: 8px;
  margin-right: 8px;
}

.breadcrumps-current span{
  font-size: 14px;
  line-height: 16px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

/*Слайдер*/

.slider .button {
  width: 278px;
  height: 63px;

  font-size: 32px;
  line-height: 44px;
}

.slide-description {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
}

/*Переключатель фона*/
.slide-toggle-1:checked ~ .wrapper {
  transition: background-color .3s;
  background-color: #849d8f;
}

.slide-toggle-2:checked ~ .wrapper {
  transition: background-color .3s;
  background-color: #8996a6;
}

.slide-toggle-3:checked ~ .wrapper {
  transition: background-color .3s;
  background-color: #9d8b84;
}

/*Блок с промо-информацией*/

.banner p {
  font-weight: bold;
  font-size: 18px;
}

.banner .button {
  width: 165px;
  height: 46px;

  font-size: 18px;
  line-height: 24px;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.free-raspberries {
  background-color: #5a101e;
  background-image: url(../img/backgrounds/raspberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.free-chocolate {
  background-color: #42281d;
  background-image: url(../img/backgrounds/chocolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

/*Популярные товары*/

.popular-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.item-wrapper {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.price {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  position: absolute;
  left: 0;
  top: 160px;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.weight {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;

  font-size: 30px;
}

.weight::before {
  content: url(../img/icons/ruble-icon.svg);
  display: inline-block;

  height: 31px;
}

.icecream-name {
  font-weight: 150;
  text-decoration: underline;
  text-align: center;
  max-width: 255px;/*Это временный пункт*/
}

/*Преимущества*/

.features {
  background-color: #eaddbf;
  background-image: url(../img/backgrounds/wafer-bg.jpg);
  color: #323232;
}

.shop-description {
  font-weight: 150;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item p::before {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.icecream-feature::before {
  content: url(../img/icons/icecream-icon.svg);
}

.cow-feature::before {
  content: url(../img/icons/cow-icon.svg);
}

.leaf-feature::before {
  content: url(../img/icons/leaf-icon.svg);
}

.thermometer-feature::before {
  content: url(../img/icons/thermometer-icon.svg);
}

/*Блог*/

.serving-ways-article {
  background-color: #fff;
  background-image: url(../img/backgrounds/strawberry-bg.jpg);
  background-position: center center;

  min-height: 220px;
  color: #323232;
}

.blog-title {
  font-weight: 150;
  font-size: 16px;
  line-height: 22px;
}

.article-title {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  font-weight: bold;
  color: #323232;
}

/*Рассылка*/

.dispath {
  min-height: 220px;
  background-color: #f8f7f4;
  color: #5a5a5a;
}

/*P. S: Рамку буду делать градиентами потом*/

/*Адрес и карта*/

.adress-descr {
  position: absolute;
  right: 2.25%;
  top:50%;
  transform: translateY(-50%);

  padding-top: 33px;
  padding-left: 25px;
  width: 302px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #fff;

  font-size: 14px;
  color: #323232;
  line-height: 20px;

  border-radius: 15px;
  border-bottom: 1px solid #fff;
}

.adress-descr p {
  width: 225px;
  margin: 0;
}

p.adress {
  margin-bottom: 20px;
}

.adress span {
  font-size: 18px;
  font-weight: bold;
}

.phone-number {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

p.phone-order {
  margin-bottom: 23px;
}

.map .button {
  width: 251px;
  height: 43px;
  margin-bottom: 29px;

  font-size: 18px;
}
/*Карта*/
.map {
  margin: 0 auto;
  position: relative;

  max-width: 1200px;
  min-height: 430px;

  background-image: url(../img/backgrounds/map-fallback-bg.jpg);
  background-position: center center;
}

/*Футер*/

/*Социконки*/

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.social-list a {
  margin-right: 11px;
}

.social-list svg {
  border-radius: 50%;
  border: 3px solid #c2cec7;
}

/*Для поставщиков*/

.for-providers-list {s
  margin: 0;
  padding: 0;
  list-style: none;
}

.for-providers-list a{
  font-size: 13px;
  line-height: 18px;

  text-decoration: underline;
}

.for-providers-link {
  font-weight: bold;
}

.for-providers-link::before {
  content: url(../img/icons/heart-icon.svg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
/*Копирайт*/

.copyright-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  align-items: flex-start;
  flex-direction: column;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
}

.copyright-text a {
  text-decoration: underline;
}

/*Форма сортировки в каталоге*/

.sorting-form > label,
.sorting-form legend {
  font-weight: 150;
  font-size: 14px;
  line-height: 16px;
}

.sort-field label {
  font-weight: 150;
  line-height: 18px;
}

.sort-field {
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
}

/*Каталог*/

.items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items-list .item-wrapper {
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

/*Пагинация*/

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.pagination a,
.pagination-arrow-deadend {
  width: 25px;
  height: 25px;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  font-weight: 150;
  line-height: 18px;
  border-radius: 50%;
}

.pagination-arrow-deadend {
  cursor: default;
}

.pagination a:hover,
.pagination a:focus {
  background-color: rgba(255, 255, 255, .2)
}

.pagination-item-current a,
.pagination a:active {
  color: #000;
  background-color: #fff;
}
